body {
  margin: 0;
  background: #f1f0eb;
}

main {
  font-family: "Pathway Gothic One", sans-serif;
  padding: 22px 0;
}

.movie-blog {
  width: 95%;
  margin: 10% auto 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 22px;
}

h1 {
  font-size: 22px;
  margin: 0;
  color: #333;
}

.top-nav {
  margin-bottom: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  display: none;
  text-align: left;
}

.top-nav li {
  display: inline;
  padding: 12px;
  border: none;
}

.top-nav ul {
  padding: 22px;
  margin-bottom: 12px;
  text-align: center;
  border-radius: 8px;
}

.top-nav a {
  text-decoration: none;
  color: #5b5851;
}

.top-nav-main {
  background: #f1f0eb;
  text-align: center;
  margin-bottom: 12px;
  display: inline-block;
  justify-content: space-evenly;
}

.card {
  min-height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #555555;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: top 0.25s ease-in, box-shadow 0.25s ease-in;
}
.card .back-image {
  background-size: cover;
  padding-bottom: 50%;
  background-position: center center;
}

.back-image {
  position: relative;
}

.imgClass {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card p {
  line-height: 1.5;
  flex: 1;
}

label {
  color: #777777;
}

.card span {
  color: #777777;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: end;
  margin: 1.6em 0 0 0;
}

.card:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  top: -8px;
}

.card article {
  display: flex;
  padding: 22px;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes slide {
  to {
    margin-left: 60%;
  }
}

.logo,
.home_icon,
.phone_icon,
.logo_icon {
  color: #ffffff;
  max-width: 8%;
  margin: 22px;
}

h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.logo {
  animation: slide 2s linear infinite alternate;
}

p {
  margin-bottom: 0.8rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #777777;
  font-family: "Roboto", sans-serif;
}

.Head-Img {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.inside-img {
  padding-top: 22%;
  padding-bottom: 22%;
  margin: 0 auto;
}

.text-back {
  text-align: center;
  color: #ffffff;
  text-shadow: 0 0 50px 777777;
}

form {
  margin-top: 22px;
  padding: 12px;
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  flex: 0 1 700px;
}

.contact-group {
  display: flex;
}

.contact-item {
  flex: 1;
  padding: 50px;
}

.contact-item.left {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 16px;
}

.form-group.message {
  margin-top: 30px;
}

.form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.form-control {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #777777;
  color: #777777;
  font-size: 14px;
  text-transform: uppercase;
  transition: border-color 0.25s;
}

.form-control::placeholder {
  color: #777777;
}

.form-control:focus {
  border-bottom-color: #ffffff;
}

.form-control-button {
  border: none;
  background: none;
  outline: none;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
}

.form-control-button:hover {
  color: orange;
}

.contact-group {
  flex-direction: column;
}

.contact-item.left {
  margin-bottom: 32px;
}

.form-title {
  flex-direction: row;
}

.form-title span {
  margin-right: 12px;
}

.form-title:after {
  display: none;
}

.contact-group {
  padding: 40px;
}

.contact-item {
  padding: 0;
}

.section-header {
  text-align: center;
  font-size: 16px;
}

#upcoming-movies {
  padding: 30px 0;
  background-repeat: cover;
}

.upcoming-movies-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: transform 3s ease-in;
}

.upcoming-movies-img img:hover {
  transform: scale(1.1);
}
.upcoming-movies-inner {
  margin: 20px;
  color: #777777;
}

.upcoming-movies-inner h3,
.upcoming-movies-inner p {
  text-align: justify;
  line-height: 1.5;
  font-size: 16px;
  margin: 12px auto;
}

footer {
  padding-left: 20px;
}

.contact {
  padding: 10px;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.column-left img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding-bottom: 20px;
}

@media only screen and (min-width: 550px) {
  .movie-blog {
    grid-template-columns: repeat(2, 1fr);
  }

  #post-5 h1 {
    font-size: 28px;
  }

  #post-5 {
    grid-column: 1 / span 2;
  }
}

@media only screen and (min-width: 850px) {
  .section-header {
    font-size: 18px;
    padding: 20px;
  }

  #upcoming-movies {
    padding: 40px 0;
  }

  .contact {
    height: 80vh;
    padding-top: 30px;
  }

  .contact-content {
    display: flex;
    flex-direction: row;
  }

  .column-left {
    width: 35%;
    padding: 22px;
    margin-left: 50px;
  }

  .column-right {
    width: 65%;
    padding: 22px;
  }

  form {
    margin-top: 0px;
  }

  .upcoming-movies-inner {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .upcoming-movies-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .upcoming-movies-inner h3 {
    text-align: start;
    line-height: 1.5;
    font-size: 16px;
  }
  .upcoming-movies-inner p {
    text-align: justify;
    margin-right: 22px;
    line-height: 1.5;
    font-size: 16px;
  }

  .upcoming-movies-inner h3 {
    font-size: 26px;
  }

  .alternate {
    order: 2;
  }

  .left-upcoming {
    position: relative;
    top: 20%;
  }

  .right-upcoming {
    position: relative;
    top: 20%;
    left: 4%;
  }
  .movie-blog {
    margin-top: 4%;
    grid-template-columns: repeat(4, 1fr);
  }

  .logo {
    max-width: 4%;
  }

  .inside-img {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .top-nav a {
    flex-direction: row;
  }

  .label {
    display: inline;
    margin-top: 5px;
  }

  .top-nav {
    display: flex;
  }

  .top-nav-main {
    display: none;
  }

  .contact-group {
    flex-direction: row;
  }
}
