body {
  margin: 0 0 0 0;
  background: #f1f0eb;
}

main {
  font-family: "Pathway Gothic One", sans-serif;
  padding: 22px 0;
}

.movie-blog {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 22px;
}

h1 {
  font-size: 22px;
  margin: 0;
  color: #333;
}

.top-nav {
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.top-nav {
  display: none;
}

.top-nav li {
  padding: 10px;
  display: inline;
  border: none;
}

.top-nav ul {
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 7px;
}

.top-nav a {
  color: #5b5851;
  text-decoration: none;
}

.top-nav-main {
  background: #f1f0eb;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 10px;
  display: inline-block;
}

.card {
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #555;
  position: relative;
  top: 0;
  transition: all 0.2s ease-in;
}

.card .back-image {
  padding-bottom: 50%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1;
  line-height: 1.5;
}

.card span {
  font-size: 11px;
  font-weight: bold;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 1.5em 0 0 0;
}

.card article {
  padding: 22px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.card:hover {
  top: -6px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.logo,
.home_icon,
.phone_icon,
.logo_icon {
  max-width: 6%;
  color: #ffffff;
  margin: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

p {
  line-height: 1.5;
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  color: #333;
  font-family: "Roboto", sans-serif;
}
.Head-Img {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.inside-img {
  margin: 0 auto;
  padding-top: 20%;
  padding-bottom: 20%;
}

.text-back {
  color: #f1f0eb;
  text-align: center;
  text-shadow: 0 0 50px black;
}

form {
  flex: 0 1 600px;
  margin: auto;
  padding: 10px;
  position: relative;
  background: #ffff;
  border-radius: 8px;
  margin: 4%;
}

.contact-group {
  display: flex;
}

.contact-item {
  flex: 1;
  padding: 50px;
}

.contact-item.left {
  display: flex;
  flex-direction: column;
}

.form-title {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 26px;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.message {
  margin-top: 40px;
}

.form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.form-control::placeholder {
  color: #666;
}

.form-control:focus {
  border-bottom-color: #ddd;
}

.form-control-button {
  background: none;
  border: none;
  color: #000000;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.form-control-button:hover {
  color: orange;
}

.contact-group {
  flex-direction: column;
}

.contact-item.left {
  margin-bottom: 30px;
}

.form-title {
  flex-direction: row;
}

.form-title span {
  margin-right: 12px;
}

.form-title:after {
  display: none;
}

.contact-group {
  padding: 40px;
}

.contact-item {
  padding: 0;
}

.section-header {
  text-align: center;
  font-size: 15px;
}

#upcoming-movies {
  background-color: var(--primary-color);
  background-repeat: cover;
  padding: 30px 0;
}

.upcoming-movies-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}
.upcoming-movies-inner {
  margin: 20px;
  color: var(--dark-color);
}

.upcoming-movies-inner h3 {
  text-align: justify;
  margin: 10px auto;
  line-height: 1.6;
  font-size: 15px;
}

.upcoming-movies-inner p {
  text-align: justify;
  line-height: 1.6;
  font-size: 15px;
  margin: 10px auto;
}

@media only screen and (min-width: 500px) {
  .movie-blog {
    grid-template-columns: repeat(2, 1fr);
  }
  #post-5 {
    grid-column: 1 / span 2;
  }
  #post-5 h1 {
    font-size: 28px;
  }
}

@media only screen and (min-width: 850px) {
  .section-header {
    font-size: 17px;
    padding: 20px;
    font-weight: 400;
  }

  #upcoming-movies {
    padding: 40px 0;
  }

  .upcoming-movies-inner {
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .upcoming-movies-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    
  }

  .upcoming-movies-inner h3 {
    text-align: start;
    line-height: 1.6;
    font-size: 15px;
  }
  .upcoming-movies-inner p {
    text-align: justify;
    margin-right: 20px;
    line-height: 1.6;
    font-size: 15px;
  }

  .upcoming-movies-inner h3 {
    font-size: 25px !important;
  }


  .alternate {
    order: 2;
  }

  .left-upcoming {
    position: relative;
    top: 20%;
  }

  .right-upcoming {
    position: relative;
    top: 20%;
    left: 4%;
  }
  .movie-blog {
    margin-top: 3%;
    grid-template-columns: repeat(4, 1fr);
  }

  .logo {
    max-width: 4%;
  }

  .inside-img {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .top-nav a {
    flex-direction: row;
  }

  .label {
    display: inline;
    margin-top: 5px;
  }

  .top-nav {
    display: flex;
  }

  .top-nav-main {
    display: none;
  }

  .contact-group {
    flex-direction: row;
  }
}
